@font-face {
    src: url("fonts/CursedTimerUlil-Aznm.ttf");
    font-family: cursedTimer;
}

body{
    text-align: center;
    background-color: antiquewhite;
    margin: 0;
}

/*.card{*/

/*    background-color: lightskyblue;*/
/*}*/




.container{
   display: flex;
   justify-content: center;
    column-gap: 50px;
   align-items: center;
    margin-top: 150px;


}

.home-score{
    background-color: black;
    width: 300px;
    height: 300px;
    font-family: cursedTimer, sans-serif;
    color: red;
    font-size: 70px;

}
h1{
    font-family: "cursive";
}
.scoreNum{
    font-family: "cursive";
    background-color: black;
    padding: 50px 60px;
    color: red;
    border-radius: 5px;
}

#numSum{
    display: flex;
    justify-content: space-around;
    background-color: white;
}

.increment-btn{
    width: 80px;
    height: 80px;
}